/* Main configuration. */
body {
  font-family: sans-serif;
  background-color: #eeeeff;
  color: #000000;
  margin: 5px;
}

.invisible {
  position: absolute;
  visibility: hidden;
  margin: 0;
  padding: 0;
  height: 0;
  width: 0;
}

/* Header configuration. */
div#header {
  background-image: url(header-bg.png);
  background-repeat: repeat-x;
  height: 83px;
  margin: 0;
}

div#left_header {
  background-image: url(header-left.png);
  background-repeat: no-repeat;
  height: 83px;
  background-position: left;
}

div#right_header {
  background-image: url(header-right.png);
  background-repeat: no-repeat;
  height: 83px;
  background-position: right;
}

div#middle_header {
  background-image: url(header-logo.png);
  background-repeat: no-repeat;
  height: 83px;
  background-position: center;
}

/* Page body configuration. */
div#pagebody {
  margin: 5px;
}

/* Left sidebar configuration. */
div#leftbar {
  float: left;
  width: 200px;
  margin: 0;
  padding: 0;
}

/* Intoductions. */
h2.menu_top_intro, h2.menu_intro {
  font-size: 100%;
  font-weight: normal;
  padding: 5px;
  margin: 0;
  border-width: 1px;
  border-color: #cccccc;
  border-style: solid solid none solid;
  background-color: #ffffff;
  text-align: center;
}

h2.menu_intro {
  margin: 10px 0 0 0;
}

h2#network_intro {
  margin: 10px 0 0 0;
}

/* Sidebar helpers. */
ul.menu_list {
  margin: 0;
  padding: 0;
  border: 1px solid #cccccc;
  background-color: #e0e0e0;
  list-style: none;
}

ul.menu_list li {
  margin: 5px;
  padding: 5px;
  border: 1px solid #bbbbbb;
  background-color: #d0d0d0;
  background-position: left;
  background-repeat: no-repeat;
}

ul.menu_list .desc {
  font-size: 0.8em;
}

ul.menu_list a {
  color: #003366;
  text-decoration: none;
}

ul.menu_list a:hover {
  color: #000000;
  text-decoration: underline;
}

ul.menu_list li:hover {
  background-color: #c0c8d0;
}

ul.menu_list li.active {
  background-color: #d0e0f0;
}

/* Content configuration. */
div#content {
  margin: 0 0 0 0;
  padding: 0 10px 10px 10px;
  border: 1px solid #cccccc;
  background-color: #e0e0f0;
}

div#content h3 {
  border-bottom: 1px dotted #000000;
}

div#content h4 {
  border-bottom: 1px dotted #a0a0b0;
}

div#content h5 {
  border-bottom: 1px dotted #c0c0c9;
  margin-bottom: 0px;
}

#content a {
  color: #0033dd;
  text-decoration: none;
}

#content a:hover {
  color: #3399ff;
  text-decoration: underline;
}

img {
  margin-bottom: -4px;
}

#content a img {
  border: 0px none #000000;
}

#content img.floatleft {
  float: left;
}

#content img.floatright {
  float: right;
}

#content code, #content pre {
  background-color: #e9e9e9;
  border: 0px none #f0f0f0;
  padding: 0 3px;
}

#content code:hover, #content pre:hover {
  background-color: #f0f0f0;
  border: 0px none #ffffff;
}

/* Table configuration. */
#content table.layout {
  font-size: 1em;
  border-collapse: collapse;
  border: 0px none #ffffff;
  background-color: none;

  font-size: 0.8em;
  empty-cells: show;
  border-collapse: collapse;
  border: 1px solid #ffffff;
}

#content table.layout td {
  border: 0px none #ffffff;
  background-color: #e0e0f0;

  border: 1px dotted #ffffff;
  background-color: #e6e6f6;
  color: #000000;
  padding: 3px;
}

#content table.layout th {
  border: 1px dotted #ffffff;
  background-color: #d0d0e0;
  color: #000000;
  text-align: left;
  font-weight: normal;
  padding: 3px;
}

#content table .centered {
  text-align: center;
}

#content table.animated td:hover {
  background-color: #dcdcec;
}

#content table.animated th:hover {
  background-color: #c9c9d9;
}

#content div.indented {
  margin-left: 10px;
}

div.codeblock {
  float: right;
  border: 1px solid black;
  margin: 10px 0px 5px 5px;
  padding: 0px;
}

.codeblock pre {
  margin: 0px;
  padding: 10px;
}

div#conformance {
  font-size: 0.6em;
  color: #c0c0d0;
  padding: 0;
  margin: 5px 0 0 210px;
  height: 15px;
  background-position: right;
  background-image: url(w3c-conform.gif);
  background-repeat: no-repeat;
}

div#conformance a {
  color: #b0b0f0;
  text-decoration: none;
}

div#conformance a:hover {
  color: #9999dd;
  text-decoration: none;
}
